<h1>Please enter the code word to continue&hellip;</h1>

<% if @wrong %>
  <div class="hmm">
    <h3>Hmm&hellip; that doesn&#8217;t seem right. Try again?</h3>
  </div>
<% end %>

<%= form_for :lockup, :url => { :action => 'unlock' } do |form| %>
  <% unless @wrong == true %>
    <p><%= form.password_field "codeword", :placeholder => "code word", :autofocus=>true %></p>
  <% else %>
    <p><%= form.password_field "codeword", :value => @codeword, :class => 'nope', :autofocus=>true %></p>
  <% end %>
    
  <% if ENV["LOCKUP_HINT"].present? || ((Rails::VERSION::MAJOR >= 4 && Rails::VERSION::MINOR >= 1) && Rails.application.secrets.lockup_hint.present?) %>
    <p id='hint_icon'>?</p>
    <p id='hint'><%= ENV["LOCKUP_HINT"].present? ? ENV["LOCKUP_HINT"] : Rails.application.secrets.lockup_hint %></p>
  <% end %>

  <% if params[:return_to].present? %>
    <%= form.hidden_field "return_to", :value => params[:return_to] %>
  <% elsif @return_to.present? %>
    <%= form.hidden_field "return_to", :value => @return_to %>
  <% end %>
    
  <p><%= button_tag "Go" %></p>
<% end %>
